/^Received: from amavisd\.{{ mail_hostname }}\*/  IGNORE
/^Received: from localhost.*/    IGNORE
/^Received: from .*127.0.0.1.*/     IGNORE
/^Authentication-Results: mail\.{{ mail_hostname }} \(amavisd-new\).*/  IGNORE
