dbc_dbadmin='{{ mysql_root_username }}'
dbc_dbname='roundcube'
dbc_dbpass='{{ mysql_root_password }}'
dbc_dbtype='mysql'
dbc_dbuser='{{ mysql_root_username }}'
dbc_install='true'
dbc_upgrade='true'
dbc_dbserver='localhost'
dbc_dbport='3306'
